In [4]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [5]:
df = pd.read_csv('spam.csv' , encoding = 'latin-1')

In [6]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
10738,ham,put the 10 on the ft\r\nthe transport volumes...,NaN,NaN,NaN
10739,ham,3 / 4 / 2000 and following noms\r\nhpl can ' ...,NaN,NaN,NaN
10740,ham,calpine daily gas nomination\r\n>\r\n>\r\njul...,NaN,NaN,NaN
10741,ham,industrial worksheets for august 2000 activit...,NaN,NaN,NaN
10742,spam,important online banking alert\r\ndear valued...,NaN,NaN,NaN

In [7]:
df.shape

(10743, 5)

In [8]:
df.drop( columns = ['Unnamed: 2','Unnamed: 3','Unnamed: 4'], inplace = True)

In [9]:
df

         v1                                                 v2
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
10738   ham   put the 10 on the ft\r\nthe transport volumes...
10739   ham   3 / 4 / 2000 and following noms\r\nhpl can ' ...
10740   ham   calpine daily gas nomination\r\n>\r\n>\r\njul...
10741   ham   industrial worksheets for august 2000 activit...
10742  spam   important online banking alert\r\ndear valued...

[10743 rows x 2 columns]

In [10]:
df.sample(3)

       v1                                                 v2
6762  ham   enron / hpl actuals for 10 / 19 / 00\r\noctob...
2918  ham              Is xy in ur car when u picking me up?
2581  ham  Yup i'm elaborating on the safety aspects and ...

In [11]:
df.rename(columns = {'v1' :'target','v2':'text'}, inplace = True)

In [12]:
df

      target                                               text
0        ham  Go until jurong point, crazy.. Available only ...
1        ham                      Ok lar... Joking wif u oni...
2       spam  Free entry in 2 a wkly comp to win FA Cup fina...
3        ham  U dun say so early hor... U c already then say...
4        ham  Nah I don't think he goes to usf, he lives aro...
...      ...                                                ...
10738    ham   put the 10 on the ft\r\nthe transport volumes...
10739    ham   3 / 4 / 2000 and following noms\r\nhpl can ' ...
10740    ham   calpine daily gas nomination\r\n>\r\n>\r\njul...
10741    ham   industrial worksheets for august 2000 activit...
10742   spam   important online banking alert\r\ndear valued...

[10743 rows x 2 columns]

In [13]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [14]:
df['target']=encoder.fit_transform(df['target'])

In [15]:
df   #0 = ham , 1 = spam

       target                                               text
0           0  Go until jurong point, crazy.. Available only ...
1           0                      Ok lar... Joking wif u oni...
2           1  Free entry in 2 a wkly comp to win FA Cup fina...
3           0  U dun say so early hor... U c already then say...
4           0  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
10738       0   put the 10 on the ft\r\nthe transport volumes...
10739       0   3 / 4 / 2000 and following noms\r\nhpl can ' ...
10740       0   calpine daily gas nomination\r\n>\r\n>\r\njul...
10741       0   industrial worksheets for august 2000 activit...
10742       1   important online banking alert\r\ndear valued...

[10743 rows x 2 columns]

In [16]:
df.isna().sum()

target    0
text      0
dtype: int64

In [17]:
df.duplicated().sum()

581

In [18]:
df.drop_duplicates(keep = 'first' , inplace = True)

In [19]:
df.shape

(10162, 2)

In [20]:
df.duplicated().sum()

0